if theme.pubkey
  section.pubkey= theme.pubkey
section.copyright
  a(href='http://opensource.org/licenses/MIT') MIT License 
  | &middot; Published with 
  a(href='https://hexo.io/') Hexo
  img('https://www.hackthebox.eu/badge/image/77992')
  if config.feed && config.feed.url
    | &middot;
    a(href= config.feed.url) RSS Feed
