if theme.pubkey
  section.pubkey= theme.pubkey
section.copyright
  © 2019
  | &middot;
  a(href='https://shubhkumar.in') Shubham Kumar <br>
  | &middot;
  a(href='https://hexo.io/') Powered by: Hexo  <br>
  | &middot;
  img(src='https://www.hackthebox.eu/badge/image/77992b', alt= 'htb', title='Hack the Box')
  if config.feed && config.feed.url
    | &middot;
    a(href= config.feed.url) RSS Feed
